<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>Admin Page</h1>
    <table border="1px">
        <thead>
            <th>No</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Job</th>
            <th>Company</th>
            <th>Contact</th>
            <th></th>
        </thead>
        <tbody>
            {% for customer in all_customer %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ customer.name }}</td>
                <td> 
                    {{ "Male" if customer.gender else "Female" }} 
                </td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.job }}</td>
                <td>{{ customer.company }}</td>
                <td>
                    {{ "Available" if customer.contacted else "Not Available" }}
                </td>
                <td>
                    <a href="">Edit</a>
                    <a href="{{ url_for("delete", customer_id = customer.id) }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</body>
</html>